

    <form action="/account/Create">
        Nombre  <input name="Nombre" />
        Apellido<input name="Apellido" />
        Fecha Nacimiento<input name="FechaNac" />
        <p></p>
        Dni     <input name="Dni" />
        Direccion<input name="Direccion" />
        Correo<input name="Correo" />
        <p></p>
        Username<input name="Username" />
        Password<input name="Password" />

        <button>GUARDAR</button>
    </form>